temp_taxi/
__pycache__/
*.py[cod]

# Exploration
eda.py
eda_to_bq.py

# Dagster temporary directories
tmp*/

# Dagster instance data
.logs_queue/
.telemetry/
.nux/
.DS_Store
logs/
history/
schedules/

# Creds
gcp_creds.json